*{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
body{
    background: url('../assets/posters.jpg') 0 0 repeat;
}
a{
    color: black !important;
    text-decoration: none;
    &:hover{
        transition: ease-in-out .15s;
        color: white;
    }
    &:active{
        transition: ease-in-out .1s;
        color: grey;
    }
}
header{
    background-color: #FECC00;
    h1{
        font-weight: 600;
    }
    nav{
        ul{
            li{
                font-weight: 600;
                list-style: none;
            }
        }
    }
}

section{
    padding: 50px;
    background-color: white;
    #searchBar{
        border: solid 1px transparent;
        border-radius: 100px;
        background: #E7EAED;
    }
    #search{
        padding: 20px;
        background: #E7EAED;
        outline-style: none;
        border: solid 1px transparent;
        border-radius: 100px;
    }
    #submitSearch{
        border-radius: 50%;
        background: #E7EAED;
        outline-style: none;
        border: solid 1px transparent;
        margin-left: -10px;
        i{
            padding: 10px;
            &:hover{
                transition: .1s ease-in-out;
                color: white;
            }
            &:active{
                color: grey;
            }
        }
    }
    .movieCard{
        text-align: center;
        padding: 10px;
    }
    .pagesNav{
        text-align: center;
        .nbPage{
            font-weight: 600;
        }
        .currentPage{
            text-decoration: underline;
        }
    }
}